<h2>申し込み</h2>
<form novalidate="novalidate">
	<select name="rice_quantity" id="rice_quantity" class="rice_quantity">
		<option value="0.5">小盛り</option>
		<option value="1">普通</option>
		<option value="1.5">大盛り</option>
		<option value="2">すごいやつ</option>
	</select>
	<button class="button button-block">訂正する</button>
</form>
