<div>
	<select name="rice_quantity" id="rice_quantity" class="rice_quantity">
		<option value="default">食べる量を選択してください</option>
		<option value="0.3"{{#equal rice '0.3'}} selected="selected"{{/equal}}>小盛 - 0.3合</option>
		<option value="0.5"{{#equal rice '0.5'}} selected="selected"{{/equal}}>並盛 - 0.5合</option>
		<option value="0.7"{{#equal rice '0.7'}} selected="selected"{{/equal}}>中盛 - 0.7合</option>
		<option value="1.0"{{#equal rice '1.0'}} selected="selected"{{/equal}}>大盛 - 1.0合</option>
	</select>
	<div class="user">
		<span class="user--name">{{user.name}}</span>
		<span class="user--email">{{user.email}}</span>
	</div>
	<button class="button button-block">申し込む</button>
</div>
